*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.successMsg{
    padding:10px;
    border: 2px solid green;
    color:green;
    background:rgb(221, 221, 221)
}

.errorMsg{
    padding:10px;
    border: 2px solid red;
    color:red;
    background:rgb(221, 221, 221)
}